@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.container {
  width: auto;
}

:global {
  div#workbenchPageContent {
    max-width: 100%;
  }

  .CanvasZone.row.CanvasZone--alignment {
    max-width: 100% !important;
  }
}
